/*desktop*/
#content {
    width: 75%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

/*phone*/
@media (orientation: portrait) {
    #content {
        width: 100%;
        line-height: 1.5em;
        font-size: 1.5em;
        margin: auto;
        width: 90%;
    }
    p{
        margin-top:5%;
        margin-bottom:5%;
        line-height: 2em;
    }

    h1{
        margin-top:5%;
    }
}

/*navigation bar styles*/
#nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #4E2A84;
}

#newspaper {
    margin: auto;
    box-align: center;
    display:block;
    width: 50%;
    height:auto;
}

#picture{
    margin: auto;
    box-align: center;
    display:block;
    width: 100%;
    height:auto;
}

#home {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-button {
    margin: auto;
}

/*style for links inside the navigation bar*/
.nav-button a {
    color: white;
    text-decoration: none;
    background-color: #4E2A84;
    font-weight: bold;
}

/*style for publication logos in Work section*/
#dth{
    margin: auto;
    box-align: center;
    display:block;
    width: 100%;
    height:auto;
}

#kih{
    margin: auto;
    box-align: center;
    display:block;
    width: 100%;
    height:auto;
}

#dn{
    margin: auto;
    box-align: center;
    display:block;
    width: 100%;
    height:auto;
}

a{
    text-decoration:none;
}

#cover{
    margin: auto;
    box-align: center;
    display:block;
    width: 100%;
    height:auto;
}

#yt{
margin: auto;
box-align: center;
display:block;
width: 75%;
height:75%;
}

figcaption{
    font-size: 0.66em; 
}

.flourish-embed{
    margin: auto;
    box-align: center;
    display:block;
    width: 75%;
    height: auto; 
}